@font-face {
  font-family: 'Sentient';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Sentient-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'DM Mono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/DMMono-Light.woff') format('woff');
}

:root {
  --font-face-accent: 'Sentient',
  Georgia,
  'Times New Roman',
  Times,
  serif;

--font-face-main: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

--font-face-code: 'DM Mono',
  'Operator Mono',
  'Fantasque Sans Mono',
  'Dank Mono',
  'Hack',
  'Fira Code',
  'Fira Mono',
  'IBM Plex Mono',
  'DejaVu Sans Mono',
  'Roboto Mono',
  'Everson Mono',
  'Source Code Pro',
  Consolas,
  Monaco,
  'Andale Mono',
  'Ubuntu Mono',
  monospace;

  --width-central: 1280px;
  --width-card: 14rem;
  --grid-gap: 2rem;



  --color-smoke: rgba(0, 0, 0, 0.33);

  --color-midnight: rgba(3, 18, 28, 1);

  --color-roygbiv-r: #fbcdf2;
  --color-roygbiv-o: #fee3e2;
  --color-roygbiv-y: #fcf4c9;
  --color-roygbiv-g: #bbf3c0;
  --color-roygbiv-b: #abbfff;
  --color-roygbiv-i: #e8befa;
  --color-roygbiv-v: #db98f8;

  --gradient: 45deg;

  --color-rainbow:
    var(--color-roygbiv-r),
    var(--color-roygbiv-o),
    var(--color-roygbiv-y),
    var(--color-roygbiv-g),
    var(--color-roygbiv-b),
    var(--color-roygbiv-i),
    var(--color-roygbiv-v);

  --gradient-rainbow: linear-gradient(var(--gradient), var(--color-rainbow));

  --color-background: var(--color-midnight);
  --color-foreground: whitesmoke;

}
