<article class="card | border radius shadow">
  <img src="{{ book.cover }}" alt="" role="presentation" />
  <header class="spacing gutters | stack | ft-sz-minion ft-lh-mean">
    <h3 class="ft-sz-brezier ft-fc-accent">{{ book.title | safe }}</h3>
    {% if book.subtitle %}
      <p class="ft-wt-stone"><em>{{ book.subtitle }}</em></p>
    {% endif %}
    {% if book.series %}
      <p class="ft-wt-stone">
        {{ book.series }}
        {% if book.seriesNumber %}
          ({{ book.seriesNumber }})
        {% endif %}
      </p>
    {% endif %}
  </header>
  <div class="gutters spacing stack">{{ book.description | safe }}</div>
  <footer class="spacing gutters border | ft-sz-minion">
    <table>
      <tbody>
        <tr>
          <th>Author</th>
          <td>
            {% for author in book.authors %}
              <cite>{{ author }}</cite>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>Published</th>
          <td>
            <time>{{ book.publishedDate | humanReadableDate }}</time>
          </td>
        </tr>
        {% if book.subjects.length %}
        <tr>
          <th>Subjects</th>
          <td>
            <ul>
              {% for subject in book.subjects %}
              <li>{{ subject }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </footer>
</article>
