.fin {
  --metric-fin-gap: var(--size-pica, 1rem);
  margin: var(--width-spacing, 5rem) auto !important;
  display: grid !important;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 2ch;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
}

.fin:before,
.fin:after {
  content: '';
  height: var(--size-stroke, 0.125rem);
  background: var(--gradient-rainbow, tomato);
  transform: translateY(-0.1em);
}

.fin span {
  text-transform: uppercase;
  max-width: 35ch;
}
