---
  layout: 'layouts/default'
  title: Books
  description: A list of the books I have read, the books I would like to read, and the books I am currently reading.
  hero:
    size: full-bleed half-screen
    image:
      src: /assets/images/tim-wildsmith-o2fc-C-Uotw-unsplash.jpg
      alt: brown wooden book shelf with books
      credit:
        name: Tim Wildsmith
        url: https://unsplash.com/@timwildsmith
---

{% block main %}
  {% include 'partials/components/hero.html' %}

  <div class="cms-content | stack">
    <p>A certainly not exhaustive list of the books I have read, the books I would like to read, and the books I am currently reading.</p>
    <p>This list has initially come from Goodreads but, as part of my ongoing Personal Web Project™️, I will be moving this here permanently.</p>
  </div>

  <pre>
    1. {{ books.reading.title }}
    2. {{ books['to-read'].title }}
    3. {{ books.read.title }}
  </pre>

  {% if books.read.count %}
    {% set title = books.read.title %}
    {% set url = books.read.url %}
    {% set label = books.read.label %}
    {% set books = books.read.books %}
    {% include 'partials/books/section.html' %}
  {% endif %}
{% endblock %}
