---
  layout: 'layouts/default'
  title: Links
  description: Where can you find me elsewhere online? Here!
  hero:
    size: full-bleed half-screen
    image:
      src: /assets/images/62ddf7754a991f67c759523fdff57511b7a0cd07bbbe6b6547ecefcc771bd120.png
      alt: Chain links
---

{% block head %}
  <!-- <link rel="stylesheet" href="/css/cms-content.css" /> -->
{% endblock %}

{% block main %}
  {% include 'partials/components/hero.html' %}
    <p>{{ description }}</p>
    <ul>
      {% for link in links %}
        <li>
          <a
            href="{{ link.url }}"
            {% include 'partials/atom/external.html' %}
          >
            {{ link.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
